<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TechBattle</title>
    <h1>Tech Battle</h1>
    <h2>Log in to play</h2>
  </head>
  <body>
    <form action="/names" method="post">
      <label for="player_1">
        Player 1
        <input type="text" name="player_1">
      </label>
      <label for="player_2">
        Player 2
        <input type="text" name="player_2">
      </label>
      <input type="submit" value="Enter Arena">
    </form>
  </body>
</html>
