<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TechBattle</title>
    <h1>Battle Arena</h1>
  </head>
  <body>
    <h4>
      <%= @player_1 %> vs <%= @player_2 %>
    </h4>
    <%= @player_1 %> HP: 100
    <%= @player_2 %> HP: 100
  </body>
</html>
